$terminal-background-color: #001100;
$terminal-primary-color: #88ff22;
$terminal-input-height: 50px;
$terminal-font-family: "Courier New", Courier, monospace;
$terminal-font-size: 1.5em;

.digital-noise {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}


.terminal-root {
  background-color: $terminal-background-color;
  color: $terminal-primary-color;
  width: 100%;
  height: 100%;
  font-family: $terminal-font-family;
  font-size: $terminal-font-size;

  .terminal-output {
    position: relative;
    top: 0px;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: $terminal-input-height;
    overflow: hidden;
    word-wrap: break-word;

    .red {
      color: #ff0000;
      font-weight: bold;
    }

    .finito {
      margin: 20px;
      padding: 150px 50px;
      border: 5px solid $terminal-primary-color;
      text-align: center;
      font-weight: bold;
    }

    .terminal-command {
      margin-top: 0.5em;
      color: $terminal-background-color;
      background-color: $terminal-primary-color;
    }

    .terminal-chat {
      margin: 5px 5px 5px 25px;

      p {
        display: block;
        border: 1px solid $terminal-primary-color;
        margin: 0px;
        padding: 5px;
        font-style: italic;
      }

      small {
        display: block;
        font-style: normal;
        font-weight: bold;
        margin: 10px auto 0px auto;
      }
    }

    .terminal-chat-left {
      small {
        text-align: left;
      }
      p {
        margin-right: 80px;
      }
    }

    .terminal-chat-right {
      small {
        text-align: right;
      }
      p {
        margin-left: 80px;
      }
    }

  }
  .terminal-input {
    width: 100%;
    height: $terminal-input-height;
    position: relative;
    bottom: $terminal-input-height;
    padding: 3px;
    line-height: $terminal-input-height;

    table {
      width: 100%;
      margin: 0px;
      padding: 0px;

      .terminal-prompt {
        font-weight: bold;
        width: auto;
        font-style:italic;
      }

      .terminal-textfield-container {
        width: 100%;
      }
    }

  }

  input {
    width: 100%;
    height: 100%;
    background-color: $terminal-background-color;
    color: $terminal-primary-color;
    border: none;
    outline: none;
    padding: 10px;
    font-family: inherit;
    font-size: inherit;

    &:focus {
      outline: none;
    }
  }
}
