body {
  background-color: #000;
  color: #fff;
  margin: 0px;
  padding: 0px;
}

#overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
  max-width: 100%;
  max-height: 100%;
}

#screen-a {
  background-color: #000;
  position: absolute;
  padding: 0px;
  margin: 0px;
}

#screen-b {
  background-color: #000;
  position: absolute;
  margin: 0px;
  padding: 0px;
}
